body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*
.navbar{
    background-color: darkseagreen;
}
.navbar-inverse {
    background-color: darkseagreen!important;
}
.navbar-brand {
    background-color: darkseagreen !important;
}
.navbar-collapse {
    background-color: darkseagreen !important;
}
.container-fluid {
    background-color: darkseagreen !important;
}
*/